body{
    margin: 0;
    padding: 0;
    background-image: url("../IMG/woodtable.jpg");
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }


#dice{
    width: 50px;
    height: 50px;
}

#one{
    background-image: url("..IMG\DicesidesIMG\dice1.svg");
}

#two{
    background-image: url("..IMG\DicesidesIMG\dice2.svg");
}

#three{
    background-image: url("..IMG\DicesidesIMG\dice3.svg");
}

#four{
    background-image: url("..IMG\DicesidesIMG\dice4.svg");
}

#five{
    background-image: url("..IMG\DicesidesIMG\dice5.svg");
}

#six{
    background-image: url("..IMG\DicesidesIMG\dice6.svg");
}


.side:nth-child(1) {
    transform: translateZ(3.1em); }
  
  .side:nth-child(6) {
    transform: rotateY(90deg) translateZ(3.1em); }
  
  .side:nth-child(3) {
    transform: rotateY(-90deg) translateZ(3.1em); }
  
  .side:nth-child(4) {
    transform: rotateX(90deg) translateZ(3.1em); }
  
  .side:nth-child(5) {
    transform: rotateX(-90deg) translateZ(3.1em); }
  
  .side:nth-child(2) {
    transform: rotateY(-180deg) translateZ(3.1em); }



  
